extends layout

block content
  h1= 'API Test'
  p Welcome
  <button id="request_permission" href="#">Allow Notifications</button>
  <div id="curl_command_holder">
  <p class="intro">Just paste the following into your terminal.</p>
  <textarea name="curl_command" onclick="select()" style="height: 100px; width: 95%;">curl -H "Content-Type: application/json" -d "hello world" "http://#{hostname}/apps/1/channels/test/events?name=testing&amp;body_md5=5eb63bbbe01eeed093cb22bb8f5acdc3&amp;auth_version=1.0&amp;auth_key=765ec374ae0a69f4ce44&amp;auth_timestamp=#{time}&amp;auth_signature=0d2f525f75bd45c38805e3db8e6983120f4bed5e897b8da7cec0633dbf2ce265"</textarea>
  </div>
  script(type='text/javascript')
    document.querySelector('#request_permission').addEventListener('click', function() {
        if (window.webkitNotifications.checkPermission() == 0) { // 0 is PERMISSION_ALLOWED
            return;
        } else {
            window.webkitNotifications.requestPermission();
        }
    }, false);