{% block content %}
{% for message in flash -%}
    {{ message.type }}: {{ message.msg }}
{%- endfor %}
<form action="" method='POST'>
  Email: <input type="text" name="email" required /><br />
  Password:<input type="password" name="password" required /><br />
  <input type="submit" value="Create Account" />
</form>
{% endblock %}